.login-form {
  display: flex;
  flex-flow: column;
    margin: auto;
    padding: 20px;
    width: 450px;

  .form-footer {
    display: flex;
    justify-content: space-between;
    .register-holder {
      display: flex;
    }
  }
  /*Change text in autofill textbox*/
  /* Change the white to any color ;) */
  .MuiInputBaseInput input {
    @-webkit-keyframes autofill {
      0%,100% {
        color: #666;
        background: transparent;
      }
    }

    input:-webkit-autofill {
      -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
  }
}