.register-form {
  display: flex;
  flex-flow: column;
    margin: auto;
    padding: 20px;
    width: 450px;

  .form-footer {
    display: flex;
    justify-content: center;
    .login-holder {
      display: flex;
    }
  }
}